body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}
.container{
  width: 50%;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
form{
  display: flex;
  flex-direction: column;
}
button:disabled{
  cursor: not-allowed;
  background-color: #ccc;
}
button{
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.error{
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}