:root {
    --bg-color: #fff;
    --text-color: #000; 
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: sans-serif;
    transition:  background-color 0.3s,color 0.3s;
    padding: 2rem;
} 

.dark-theme {
    --bg-color: #121212;
  --text-color: #f0f0f0;
}


button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}
